<!DOCTYpE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a882569ff6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="assets\noun-animals-13643.png">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Animal Search</title>
</head>
<body>
    
    <header>
        <h1 class="outfitMed">Search for Animal Information</h1>
    </header>
    <main>
        <form action="/search" method="post">
            <div class="search-wrapper">
                <input type="search" placeholder="Cheetah" id="animalSearch" name="q">
                <button type="submit" id="animalSubmit"><i class="fas fa-search"></i></button>
            </div>
            
        </form>
    </main>
    <footer>
        <p class="oufitReg">Made by Skylar Chapman</p>
        <p class="oufitReg">Source: <a href="https://api-ninjas.com/api/animals">https://api-ninjas.com/api/animals</a> </p>
    </footer>

   </body>
</html>